In [35]:
import pandas as pd
from pandas.io import gbq

from sklearn.cluster import DBSCAN
from sklearn import metrics

In [5]:
user_data = gbq.read_gbq('SELECT * FROM `umg-comm-tech-dev.adhoc.disapora_user_stats2`', 
                         project_id='umg-comm-tech-dev', dialect='standard')

In [6]:
user_data.describe(include='all')

,f0_,user_dma_number,user_dma_name,user_region_code,user_postal_code,user_gender,user_age_group,stream_source,device_type,os_name,partner_product,partner_access_type,partner_user_type,revenue_model,consumer_group,consumer_group_detail,engagement_style
count,532883.000000,532883,532883,532883,532883,532883,532883,532883,532883,532883,532883,532883,532883,532883,532883,532883,532883
unique,NaN,425,211,1,925,3,9,9,8,7,14,3,5,2,3,8,2
top,NaN,803,Los Angeles,,,male,18-24,others_playlist,cell phone,iOS,,premium,paid,Premium,Paid,Standard,Lean Forward
freq,NaN,49758,49758,532883,86950,282362,206854,160897,304675,235866,275613,416124,397865,416230,402701,164743,268671
mean,18.959303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,154.688909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,26789.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
user_data = user_data.rename(columns={'f0_':'user_count'})

In [14]:
user_data.consumer_group_detail.unique()

array(['Family', 'Standard', 'Discounted', 'Ad-Funded', 'Introductory',
       'Trial - 30 Days - Credit Card', 'Trial - 7 Days - No Credit Card',
       'Bundle'], dtype=object)

In [8]:
user_data.columns

Index(['user_count', 'user_dma_number', 'user_dma_name', 'user_region_code',
       'user_postal_code', 'user_gender', 'user_age_group', 'stream_source',
       'device_type', 'os_name', 'partner_product', 'partner_access_type',
       'partner_user_type', 'revenue_model', 'consumer_group',
       'consumer_group_detail', 'engagement_style'],
      dtype='object')

In [28]:
cols = ['user_count', 'user_dma_number', 'user_dma_name',
       'user_postal_code', 'user_gender', 'user_age_group', 'device_type', 'os_name']

In [29]:
user_data_agg = user_data[cols]

In [30]:
user_data_gb = user_data_agg.groupby(by = ['user_dma_number', 'user_dma_name',
       'user_postal_code', 'user_gender', 'user_age_group', 'device_type', 'os_name'])

In [31]:
user_data_final = user_data_gb.user_count.sum().reset_index().sort_values(by='user_count', ascending=False)

In [49]:
user_data_final.to_csv('user_data_summary.csv', index=False)

In [39]:
user_data_final.head()

,user_dma_number,user_dma_name,user_postal_code,user_gender,user_age_group,device_type,os_name,user_count
807,501,New York,,female,25-34,cell phone,iOS,66299
131279,803,Los Angeles,,female,25-34,cell phone,iOS,60423
141307,807,San Francisco-Oak-San Jose,,female,25-34,cell phone,iOS,56535
887,501,New York,,male,25-34,cell phone,iOS,54783
141393,807,San Francisco-Oak-San Jose,,male,25-34,cell phone,iOS,54372

In [61]:
user_data_post = user_data_final.groupby(by=['user_postal_code'])

In [62]:
by_post = user_data_post.user_count.sum().reset_index().sort_values(by='user_count', ascending=False)

In [63]:
by_post.to_csv('by_postcode_summary.csv')

In [46]:
all_users = by_post.user_count.sum()

In [48]:
by_post['user_perc'] = by_post.user_count/all_users
by_post.head()

,user_postal_code,user_gender,user_age_group,device_type,os_name,user_count,user_perc
7571,123,female,25-34,cell phone,iOS,65844,0.011432
7582,123,female,35-44,cell phone,iOS,51186,0.008887
7559,123,female,18-24,cell phone,iOS,49742,0.008636
5451,100,female,25-34,cell phone,iOS,41712,0.007242
7657,123,male,25-34,cell phone,iOS,37448,0.006502

In [50]:
by_post.shape

(50995, 7)

In [52]:
by_dma_post = user_data_agg.groupby(by=['user_dma_number', 'user_dma_name','user_postal_code']).user_count.sum().reset_index().sort_values(by='user_count', ascending=False)

In [55]:
by_dma_post['user_%'] = by_dma_post.user_count/all_users*100
by_dma_post

,user_dma_number,user_dma_name,user_postal_code,user_count,user_%
23379,803,Los Angeles,,883501,15.339004
24143,807,San Francisco-Oak-San Jose,,745386,12.941104
162,501,New York,,683728,11.870622
27965,Unknown,,,370687,6.435725
24029,803,Los Angeles,917,174799,3.034793
24780,807,San Francisco-Oak-San Jose,941,150623,2.615058
264,501,New York,112,149242,2.591082
25028,819,Seattle-Tacoma,,144293,2.505159
252,501,New York,100,142969,2.482173
1787,506,Boston (Manchester),,131195,2.277757
24784,807,San Francisco-Oak-San Jose,945,115009,1.996742
12869,602,Chicago,,112541,1.953893
265,501,New York,113,109049,1.893267
3020,511,"Washington, DC (Hagrstwn)",,108178,1.878145
24779,807,San Francisco-Oak-San Jose,940,105051,1.823855
23484,803,Los Angeles,123,98681,1.713261
24245,807,San Francisco-Oak-San Jose,123,95199,1.652808
954,504,Philadelphia,,94740,1.644839
15682,623,Dallas-Ft. Worth,,94661,1.643468
24013,803,Los Angeles,900,93886,1.630013
275,501,New York,123,93109,1.616523
25540,819,Seattle-Tacoma,980,76048,1.320316
26658,862,Sacramnto-Stkton-Modesto,,71009,1.232831
28043,Unknown,,100,68624,1.191423
14990,618,Houston,,67724,1.175798
24790,807,San Francisco-Oak-San Jose,951,67151,1.165850
5313,524,Atlanta,,66066,1.147012
1803,506,Boston (Manchester),021,63781,1.107341
25541,819,Seattle-Tacoma,981,63063,1.094875
13293,602,Chicago,606,54541,0.946920
...,...,...,...,...,...
12187,577,Wilkes Barre-Scranton-Hztn,139,1,0.000017
12185,577,Wilkes Barre-Scranton-Hztn,137,1,0.000017
12179,577,Wilkes Barre-Scranton-Hztn,105,1,0.000017
12178,577,Wilkes Barre-Scranton-Hztn,104,1,0.000017
21801,753,Phoenix (Prescott),431,1,0.000017
21756,753,Phoenix (Prescott),295,1,0.000017
12177,577,Wilkes Barre-Scranton-Hztn,101,1,0.000017
12174,577,Wilkes Barre-Scranton-Hztn,087,1,0.000017
21804,753,Phoenix (Prescott),439,1,0.000017
12173,577,Wilkes Barre-Scranton-Hztn,085,1,0.000017
12172,577,Wilkes Barre-Scranton-Hztn,080,1,0.000017
21808,753,Phoenix (Prescott),451,1,0.000017
21790,753,Phoenix (Prescott),373,1,0.000017
12189,577,Wilkes Barre-Scranton-Hztn,145,1,0.000017
21788,753,Phoenix (Prescott),370,1,0.000017
21786,753,Phoenix (Prescott),358,1,0.000017
21785,753,Phoenix (Prescott),357,1,0.000017
21784,753,Phoenix (Prescott),352,1,0.000017
12193,577,Wilkes Barre-Scranton-Hztn,168,1,0.000017
21781,753,Phoenix (Prescott),341,1,0.000017
21780,753,Phoenix (Prescott),339,1,0.000017
12197,577,Wilkes Barre-Scranton-Hztn,172,1,0.000017
12198,577,Wilkes Barre-Scranton-Hztn,174,1,0.000017
21773,753,Phoenix (Prescott),330,1,0.000017
3661,512,Baltimore,020,1,0.000017
12212,577,Wilkes Barre-Scranton-Hztn,189,1,0.000017
21765,753,Phoenix (Prescott),319,1,0.000017
12216,577,Wilkes Barre-Scranton-Hztn,194,1,0.000017
21760,753,Phoenix (Prescott),301,1,0.000017
28660,Unknown,,999,1,0.000017

In [56]:
by_dma_post.to_csv('dma_postcode_summary.csv')

In [57]:
by_age_gender = user_data_agg.groupby(by=['user_gender', 'user_age_group']).user_count.sum().reset_index().sort_values(by='user_count', ascending=False)

In [58]:
by_age_gender['user_%'] = by_age_gender.user_count/all_users*100
by_age_gender.to_csv('age_gender_summary.csv')

In [59]:
by_device_os = user_data_agg.groupby(by=['device_type', 'os_name']).user_count.sum().reset_index().sort_values(by='user_count', ascending=False)

In [60]:
by_device_os['user_%'] = by_device_os.user_count/all_users*100
by_device_os.to_csv('device_os_summary.csv')